/* BASED ON ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #1e1e2e;
    bg1:    #1e1e2e;
    bg2:    #1e1e2e;
    bg3:    #45475a;
    fg0:    #E6E6E6;
    fg1:    #89b4fa;
    fg2:    #969696;
    fg3:    #3D3D3D;
}

@import "template/square-template.rasi"
