/* BASED ON ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #0e0e16;
    bg1:    #0e0e16;
    bg2:    #0e0e16;
    bg3:    #B08ED0;
    fg0:    #D8DEE9;
    fg1:    #ECEFF4;
    fg2:    #9B7EC1;
    fg3:    #3D3D3D;
}

@import "template/square-template.rasi"

element selected {
    text-color: @bg1;
}
