/* BASED ON ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #1b2125;
    bg1:    #1b2125;
    bg2:    #1b2125;
    bg3:    #869088;
    fg0:    #D8DEE9;
    fg1:    #ECEFF4;
    fg2:    #7E8981;
    fg3:    #3D3D3D;
}

@import "template/square-template.rasi"

element selected {
    text-color: @bg1;
}
