/* BASED ON ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #121611;
    bg1:    #121611;
    bg2:    #121611;
    bg3:    #5C833C;
    fg0:    #D8DEE9;
    fg1:    #ECEFF4;
    fg2:    #5D7450;
    fg3:    #3D3D3D;
}

@import "template/square-template.rasi"

element selected {
    text-color: @bg1;
}
