/* BASED ON ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #1f1f28;
    bg1:    #1f1f28;
    bg2:    #1f1f28;
    bg3:    #363646;
    fg0:    #E6E6E6;
    fg1:    #7e9cd8;
    fg2:    #969696;
    fg3:    #3D3D3D;
}

@import "template/square-template.rasi"
