/* BASED ON ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #0f121c;
    bg1:    #0f121c;
    bg2:    #0f121c;
    bg3:    #D8C5A8;
    fg0:    #D8DEE9;
    fg1:    #ECEFF4;
    fg2:    #9CA5A1;
    fg3:    #3D3D3D;
}

@import "template/square-template.rasi"

element selected {
    text-color: @bg1;
}
