/* BASED ON ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #0E0D0B;
    bg1:    #0E0D0B;
    bg2:    #0E0D0B;
    bg3:    #DF6B12;
    fg0:    #D8DEE9;
    fg1:    #ECEFF4;
    fg2:    #A15319;
    fg3:    #3D3D3D;
}

@import "template/square-template.rasi"

element selected {
    text-color: @bg1;
}
