/* BASED ON ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #1b1e25;
    bg1:    #1b1e25;
    bg2:    #1b1e25;
    bg3:    #9da0a4;
    fg0:    #E6E6E6;
    fg1:    #84A5C3;
    fg2:    #969696;
    fg3:    #3D3D3D;
}

@import "template/aether-template.rasi"
