/* BASED ON ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #07043B;
    bg1:    #07043B;
    bg2:    #07043B;
    bg3:    #8789a3;
    fg0:    #E6E6E6;
    fg1:    #15A8EA;
    fg2:    #969696;
    fg3:    #3D3D3D;
}

@import "template/square-template.rasi"
