/* BASED ON ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #080B0D;
    bg1:    #080B0D;
    bg2:    #080B0D;
    bg3:    #199B5F;
    fg0:    #D8DEE9;
    fg1:    #ECEFF4;
    fg2:    #4C6644;
    fg3:    #3D3D3D;
}

@import "template/square-template.rasi"

element selected {
    text-color: @bg1;
}
