/* BASED ON ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #151312;
    bg1:    #151312;
    bg2:    #151312;
    bg3:    #927A4A;
    fg0:    #D8DEE9;
    fg1:    #ECEFF4;
    fg2:    #D6692E;
    fg3:    #3D3D3D;
}

@import "template/square-template.rasi"

element selected {
    text-color: @bg1;
}
