/* BASED ON ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #15123a;
    bg1:    #15123a;
    bg2:    #15123a;
    bg3:    #E45B95;
    fg0:    #D8DEE9;
    fg1:    #ECEFF4;
    fg2:    #B24787;
    fg3:    #3D3D3D;
}

@import "template/square-template.rasi"

element selected {
    text-color: @bg1;
}
