/* BASED ON ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #1a1b26;
    bg1:    #1a1b26;
    bg2:    #1a1b26;
    bg3:    #414868;
    fg0:    #E6E6E6;
    fg1:    #7aa2f7;
    fg2:    #969696;
    fg3:    #3D3D3D;
}

@import "template/square-template.rasi"
