/* BASED ON ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #15123a;
    bg1:    #15123a;
    bg2:    #15123a;
    bg3:    #aa8e8a;
    fg0:    #E6E6E6;
    fg1:    #E45B95;
    fg2:    #969696;
    fg3:    #3D3D3D;
}

@import "template/aether-template.rasi"
